
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>项目信息更新</title>
    <link href="/css/hbes.grid.css" rel="stylesheet" />
    <link href="/css/hbes.reset.css" rel="stylesheet" />
    <link href="/css/zTree/zTreeStyle/zTreeStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="/js/layui/css/layui.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/hbes-ui.js"></script>
    <script src="/js/layui/layui.all.js"></script>  
    <script src="/js/zTree/jquery.ztree.core.min.js"></script>
</head>
<body>
    <div id="page-content" class="page-content">
         <form id="formData">
              <input type="hidden" class="hbes-input" name="Id" value="@Model.Id" />
                <table  class="formtable" >
                            <colgroup>
                                <col style="width:30%;" />
                              
                                <col  />
                            </colgroup>
              <tr>    
                <td class="ft_label">项目名称</td>
                <td class="ft_control">
                     <input type="text" name="ProjectName" value="@Model.ProjectName" class="hbes-input" style="width:95%;" vtype="required:true;rangeLength:0,50;" />
                </td>
             </tr>
             <tr>
                 <td class="ft_label">合同金额</td>
                 <td class="ft_control"><input type="text"  value="@Model.ContractAmout" name="ContractAmout" class="hbes-input" style="width:95%;" vtype="required:true;rangeLength:0,50;" /></td>
             </tr>
            <tr>
                <td class="ft_label">结账基数</td>
                <td class="ft_control"><input type="text" value="@Model.SettlementBase" name="SettlementBase" class="hbes-input" style="width:95%;" vtype="required:true;rangeLength:0,50;" /></td>
            </tr>

            <tr>
                <td class="ft_label">项目状态</td>
                <td class="ft_control">
                    <select id="Status" name="Status" class="layui-select " lay-verify="required">
                        <option value="1">活动</option>
                        <option value="0">结束</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="ft_label">客户</td>
                <td class="ft_control">
                    <select id="Client" name="Client" class="layui-select " lay-verify="required"></select>
                </td>
            </tr>
            <tr>
                <td class="ft_label">备注</td>
                <td class="ft_control"><input type="text" value="@Model.Remark" name="Remark" class="hbes-input" style="width:95%;" vtype="required:true;rangeLength:0,50;" /></td>
            </tr>
            

                </table>
         </form>
          <div class="bottomBtnDiv">
           <button class="layui-btn layui-btn-small layui-btn-normal" onclick="save()" type="button">确定</button>
           <button class="layui-btn layui-btn-small layui-btn-primary" onclick="closeWin()" type="button">关闭</button>
          </div>
     </div>

    <script type="text/javascript">
        function save() {
            var isPass = $("#formData").valiForm();
            if (!isPass) {
                layer.alert('请检查填写内容!', { icon: 0 });
                return;
            }
            var postData = { data: getFormMap("formData") };

            submitData("/Project/Project/EditProject", postData);
        }
    </script>

</body>
</html>
